<div class="container">
	<div class="row">
		<div class="col-md-6"> 
			
			<h1>Add <i><%= @winery.name %></i> to a Memory</h1>

			<%= simple_form_for @memory do |f| %>
				<%= f.input :name, label: "Memory for: " %>
				<%= f.input :trip_date, label: "Memory Start: " %>
				<%= f.input :trip_date_end, label: "Memory Finish: " %>
				<%= f.input :visited_date %>
				<%= f.hidden_field :user_id, value: params[:memory.user_id] %>
				<%= f.hidden_field :winery_id, value: @winery.id %>
				<%= f.submit "Create a Memory"%>

			<% end %>
			<br><br>
		</div>
	</div>
</div>
<p><%= javascript_include_tag "application" %> </p>
