<h1>New Oscar-Winning Movie</h1>

<%= simple_form_for @movie do |f| %>

<%= f.input :title %>
<%= f.input :description %>
<%= f.input :year_released %>
<%= f.submit "Create New Movie"%>

<% end %>

<!-- how do i update the format of the submit button -->