<h1>Edit  metadata for <%= @artist.name %></h1>
<p>Update any fields you want to edit:</p>



<%= form_for @artist do |f| %>

	<ul> Artist Name: <%= f.text_field :name %></ul>
	<ul> Artist Bio: <%= f.text_field :bio, size:100 %></ul>
	<ul> Launch Year: <%= f.text_field :formed_date %></ul>
	<ul> From: <%= f.text_field :formed_city %></ul>
	<ul> Photo Image URL: <%= f.text_field :photo %></ul>
	<ul> <%= f.submit "Update" %></ul><br> 
	<ul> <%= link_to "Home", artists_path, class: 'btn btn-primary' %></ul>

	<% end %>