<h1 style="color:#000000;">The Incredible Music App</h1>
<p>See our collection of top artists
<br><br><%= link_to "See All Record Labels", record_labels_path, class: 'btn btn-default btn-xs' %>
  <%= link_to "See All Songs", songs_path, class: 'btn btn-default btn-xs' %> 
    <%= link_to "Home", "/", class: 'btn btn-default btn-xs' %> 
</p>

<p> 
	<table class="table table-striped table-hover">
			<tr class="small">
				<th><h1>All Artists</h1></th>
			</tr>
			<% @artists.each do |artist| %>
			<tr class="small">
						<td><ul>
						<%= link_to "#{artist.name}", artist_path(artist) %></ul>
						</td>
						<td>
							<%= link_to "Songs\'s by this Artist", artist_songs_path(artist), class: 'btn btn-primary btn-xs' %> 
							<!-- not passing a subset, returning all values -->
						</td>
			</tr>
			<% end %>
	</table>
</p>