

<div class="col-md-12">
	<div class="table-responsive">
		<h1 style="color:#cc3333;">The Incredible Music App</h1>
		<p>See our collection of top music artists & songs</p>					
		<p><%= javascript_include_tag "application" %> </p>

		<table class="table table-striped table-hover">
			<tr class="small">
				<th>All Artists</th>
				<th>All Songs</th>
			</tr>

			<!-- can't run without some values pluggeed in first.  need to test for null? -->
				<% @artists.each do |artist| %>
				<tr class="small">
						<td><%= link_to 'Details', artist_path(artist), class: "btn btn-default btn-xs" %>
						<%= artist.name %> 
						</td>
						<td> <% artist.songs.each do |song| %>
							<li><%= song.title %> </li>
							<br>
							<% end %>
						</td>
	  				
  				</tr>
				<% end %>
	</table>
	<%= link_to "Add New Artist", new_artist_path, class: 'btn btn-lg btn-danger' %>
	</div>

</div>