<h1>New Music Artist</h1>

<%= simple_form_for @artist do |f| %>

<%= f.input :name %>
<%= f.input :bio %>
<%= f.input :formed_date %>
<%= f.input :formed_city %>
<%= f.hidden_field :record_label_id, value: params[:record_label_id] %> 
<%= f.submit "Add New Artist"%>

<% end %>