<h1> <%= @artist.name %> </h1>

<p>Artist Bio: <%= @artist.bio %><br><br>
	Career Start: <%= @artist.formed_date %> in <%= @artist.formed_city %>
	<br><br>
	Represented by: <%= @artist.record_label.name %><br>
</p>
<%= link_to "Edit Artist", edit_artist_path(@artist.id), class: 'btn btn-lg btn-danger' %>
<%= link_to "Delete Artist", artist_path(@artist), :confirm => 'Are you sure?', :method => :delete, class: 'btn btn-lg btn-danger' %>
<table class="table table-striped table-hover">
			<tr class="large">
				<th>Songs</th>
				<th></th>
			</tr>
				<% @artist.songs.each do |song| %>
			<tr class="small">
				<td><%= song.title %></td>
				<td><%= link_to "Details", artist_song_path(song.artist, song), class: 'btn btn-default btn-xs' %><br>
				</td>
				<% end %>
			</tr>
	</table>


<%= link_to "Add New Song", new_artist_song_path(@artist.id), class: 'btn btn-lg btn-danger' %>

<%= link_to "Home", "/", class: 'btn btn-lg btn-danger' %>