	<div class="container">
		<div class="row">
			<div class="col-md-4"> 
				<h1>Edit  My Profile</h1>
					<p>Update any fields you want to edit:</p>

					<%= simple_form_for @profile do |f| %>

					<%= f.input :first_name %>
					<%= f.input :last_name %>
					<%= f.input :bio, label: "About Me"%>
					<%= f.input :birth_date, as: :date, start_year: Date.today.year - 90, end_year: Date.today.year - 12, order: [:month, :day, :year] %>
					<%= f.input :street, label: "Street address"%>
					<%= f.input :city %>
					<%= f.input :state %>
					<%= f.input :zip %>
					<%= f.input :photo, as: :file, label: "Profile photo" %>
					
					<%= f.submit "Update Profile"%>

					<% end %>
				</div>
			</div>
		</div>

	<p><%= javascript_include_tag "application" %> </p>

	