<p><%= javascript_include_tag "application" %> </p>
<h1 style="color:#000000;"><%= @winery.name %></h1>
<p>
	<table class="table table-striped table-hover">
		
			<tr class="small">
						<td style="width:20%"><ul><%= image_tag(@winery.photo, size: "100x50", :class => 'img-rounded img-responsive') unless @winery.photo.nil? %>
						 </td>
						 <td><%= @winery.street %><br>
						 	<%= @winery.city + ", " + @winery.state + " " + @winery.zip.to_s %><br>
						 	</ul>
						</td>
			</tr>
	</table>
</p>

<p>About the Winery: <%= @winery.bio %><br><br>
	Contact Info: <%= @winery.phone[0...3] +"."+ @winery.phone[3...6]+ "."+ @winery.phone[6...10] %><br><%= @winery.email %><br><%= @winery.website %>
	<br><br>
	Tasting Room Hours: <%= @winery.open.to_s " to " + @winery.close.to_s %><br>
	<% if @winery.appointment == true %>
		<%= "     By Appointment Only" %><br>
	<% end %>
	Tasting Room Fee: <%= "$" + @winery.fee.to_s %><br><br>
	Extras: <br>
	<%= "     Pets Allowed: " + @winery.pets.to_s %><br>
	<%= "     Picnic Area: " + @winery.picnic.to_s %><br>
</p>

<table class="table table-striped table-hover">
			<tr class="large">
				<th><h1>Reviews</h1></th>
				<th></th>
			</tr>
				<% @winery.reviews.each do |review| %>
			<tr class="small">
				
				<td><%= review.comment %>
				<br>
				</td>
				<% end %>
			</tr>
</table>


<%= link_to "Add New Review", new_review_path(@winery.id), class: 'btn btn-primary' %>

    