<h1 style="color:#000000;">The Incredible Music App</h1>
<p>See our collection of top music songs
<br><br><%= link_to "See All Artists", artists_path, class: 'btn btn-default btn-xs' %>
  <%= link_to "See All Record Labels", record_labels_path, class: 'btn btn-default btn-xs' %> 
    <%= link_to "Home", "/", class: 'btn btn-default btn-xs' %> 
<p><%= javascript_include_tag "application" %> </p>
<p> 
	<table class="table table-striped table-hover">
			<tr class="small">
				<th>All Songs  </th>
			</tr>
			<% @songs.each do |song| %>
			<tr class="small">
						<td><ul>
						<%= link_to "#{song.title}", song_path(song) %></ul>
						</td>
			</tr>
			<% end %>
	</table>
</p>